body {
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;*/
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 300;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: 0;
  border-radius: 8px;
  width: 132px;
  height: 36px;
  font-size: 18px;
  margin-top: 12px;
}

.blue-box button {
  border: 2px solid #F9FAF8;
  margin: 0;
}

.top,
.footer {
  background-color: #1F2937;
}

.top {
  padding: 18px 0;
}

.header {
  display: flex;
  align-items: center;
  max-width: 1006px;
  margin: 0 auto;
  padding: 0 48px;
}

.logo {
  font-weight: 700;
  font-size: 24px;
}

.logo a {
  color: #F9FAF8;
}

.links {
  font-size: 18px;
  display: flex;
  gap: 24px;
  margin-left: auto;
}

.links a {
  color: #E5E7EB;
}

.content {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 112px 48px;
}

.content div {
  flex: 0 1 448px;
}

.content img {
  width: 510px;
  height: 230px;
  object-fit: cover;
}

.hero-main {
  color: #F9FAF8;
  font-weight: 700;
  font-size: 48px;
}

.hero-sec {
  color: #E5E7EB;
  font-size: 18px;
}

.random {
  padding: 72px 48px 96px;
}

.info {
  color: #1F2937;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
  margin-top: 48px;
}

.boxes img {
  width: 164px;
  height: 164px;
  object-fit: cover;
  border-radius: 16px;
  /*border: 4px solid #3882F6;*/
}

.subtext {
  color: #8d8d8d;
  font-size: 18px;
  max-width: 164px;
  text-align: center;
  margin-top: 4px;
}

.quote {
  background-color: #E5E7EB;
  color: #1F2937;
  padding: 116px 48px 100px;
}

.words {
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
}

.thor {
  font-weight: 700;
  font-size: 24px;
  text-align: right;
}

.words,
.thor {
  max-width: 799px;
  margin: 0 auto;
}

.action {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 80px 48px;
}

.blue-box {
  background-color: #3882F6;
  padding: 48px 103px;
  flex-basis: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  border-radius: 8px;
}

.call {
  font-weight: 700;
  color: #F9FAF8;
  font-size: 24px;
}

.signup {
  font-weight: 300;
  color: #E5E7EB;
  font-size: 18px;
  margin-top: 2px;
}

.blue-box div {
  flex: 0 2 auto;
}

.blue-box button {
  flex: 0 1 auto;
}

.footer {
  color: #E5E7EB;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 48px;
}