body {
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;*/
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: 0;
  border-radius: 8px;
  width: 132px;
  height: 36px;
  font-size: 18px;
}

.blue-box button {
  border: 2px solid #F9FAF8;
}

.header,
.content,
.footer {
  background-color: #1F2937;
}

.header,
.content,
.blue-box {
  padding: 0 48px;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  color: #F9FAF8;
  font-weight: 900;
  font-size: 24px;
}

.links {
  font-size: 18px;
  margin-left: auto;
  display: flex;
  gap: 24px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 100px 0;
}

.content div {
  flex: 0 1 448px;
}

.content img {
  width: 550px;
  height: 220px;
  object-fit: cover;
}

.hero-main {
  color: #F9FAF8;
  font-weight: 900;
  font-size: 48px;
}

.hero-sec {
  color: #E5E7EB;
  font-size: 18px;
}

.random {
  
}

.info {
  color: #1F2937;
  font-weight: 900;
  font-size: 36px;
}

.boxes img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 16px;
  border: 4px solid #3882F6;
}

.subtext {
  color: #8d8d8d;
  font-size: 18px;
}

.quote {
  background-color: #E5E7EB;
  color: #1F2937;
}

.words {
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
}

.thor {
  font-weight: 900;
  font-size: 24px;
}

.action {

}

.blue-box {
  background-color: #3882F6;
}

.call {
  font-weight: 700;
  color: #F9FAF8;
  font-size: 24px;
}

.signup {
  font-weight: 300;
  color: #E5E7EB;
  font-size: 18px;
}

.footer {
  color: #E5E7EB;
  font-size: 18px;
}